extends ../-layout

block append head
  link(rel = "stylesheet" href = "/api/index.css")
  +highlighting()

      
block main
  article
    include:markdown docs.md
    
block footer
  include ../-bottom-nav
