style
  include:stylus index.styl

article
  h1!= name

  != summary

  h2 Class Methods

  site-toc(data-glob = `${path}/class/methods/*`)
    p There are no class methods.

  h2 Instance Methods
    site-toc(data-glob = `${path}/instance/methods/*`)
      p There are no instance methods.


  h2 Class Properties

  h2 Instance Properties

  site-properties(data-glob = `${path}/instance/properties/*`)

  h2 Description

  if description
    != description

  if examples.length > 0
    if examples.length == 1
      h2 Example
    else
      h2 Examples

    each example in examples
      != example.html
