@require "../../-styles"

:host
  reset block
  flex 1 1 auto
  column nowrap
  align-items center

article
  flex 1 1 0
  column nowrap
  overflow auto
  width 100%

  type copy
  min-width 36rem
  max-width 96rem

  color darkest-kite-gray
  background-color white

  article h1 h2 h3 h4 h5 p ul li blockquote code
  & > site-wikitext
    margin-bottom 4rem

  h1
    type heading large
    color black
  h2
    type heading medium
    color black

  dashkite link table

  figure
    float right
    borders round
    width 36rem
    padding 1rem
    & > img
      width 100%
      object-fit contain
    & > figcaption
      margin-top 1rem
      borders top
      padding-top 1rem
      type body small

  site-toc
    type body
    margin-bottom 3rem
