style
  include:stylus index.styl    

article
  h1!= name
  
  != $(summary)
    
  h2 Class Methods
    
  h2 Instance Methods
  
  h2 Class Properties
  
  h2 Instance Properties
  
  h2 Description
  
  if description
    != $(description)
  
  if examples.length > 0
    if examples.length == 1
      h2 Example
    else
      h2 Examples

    each example in examples
      != example.html
