@require "../css/-theme"
@require "../css/-bottom-nav"
@require "../css/-article"
@require "../css/-table"
@require "../css/-inline-list"
@require "../-layout"

// TODO where does this belong?
a[href='#broken']
  color red

header
  responsive-padding 3rem
  type heading smallest

  margin 0 0 3rem 0
  padding 3rem 0
  border-bottom 1px solid silver

  .breadcrumbs
    ul
      inline-list breadcrumb
      margin-bottom 2rem

  .toc
    ul
      inline-list bar

article
  .toc
    ul
      inline-list bar
      type heading smaller

  h1
    type heading large
  h2
    type heading small
  h3
    type heading smaller

  blockquote.signature
    type label

  blockquote
    background white - 5%
    border-left 1rem solid $panda-blue
    padding 2rem
