extends -layout

block header
  .breadcrumbs: +breadcrumbs(["Confidential"], "Guides")

block main
  article
    h1 Guides
    
    h2 Scenarios
    
    .toc
      +toc(["Quick Start", "Symmetric Encryption", "Asymmetric Encryption", 
        "Cryptographic Signatures"])
        
    h2 Background
    
    p Coming soon.
    
block footer
  include ../-bottom-nav
