extends ../-layout

block append head
  link(rel = "stylesheet" href = "/docs/index.css")
  +highlighting()

block header
  .breadcrumbs: +breadcrumbs(["Panda Confidential"], false)

block main
  article
    include:markdown docs.md
    
block footer
  include ../-bottom-nav
