@font-face
    font-family "Font Awesome 5 Brands"
    font-style normal
    font-weight normal
    src url(//use.fontawesome.com/releases/v5.6.3/webfonts/fa-brands-400.eot)
    src url(//use.fontawesome.com/releases/v5.6.3/webfonts/fa-brands-400.eot?#iefix) format("embedded-opentype"),url(//use.fontawesome.com/releases/v5.6.3/webfonts/fa-brands-400.woff2) format("woff2"),url(//use.fontawesome.com/releases/v5.6.3/webfonts/fa-brands-400.woff) format("woff"),url(//use.fontawesome.com/releases/v5.6.3/webfonts/fa-brands-400.ttf) format("truetype"),url(//use.fontawesome.com/releases/v5.6.3/webfonts/fa-brands-400.svg#fontawesome) format("svg")

@font-face
    font-family "Font Awesome 5 Free"
    font-style normal
    font-weight 400
    src url(//use.fontawesome.com/releases/v5.6.3/webfonts/fa-regular-400.eot)
    src url(//use.fontawesome.com/releases/v5.6.3/webfonts/fa-regular-400.eot?#iefix) format("embedded-opentype"),url(//use.fontawesome.com/releases/v5.6.3/webfonts/fa-regular-400.woff2) format("woff2"),url(//use.fontawesome.com/releases/v5.6.3/webfonts/fa-regular-400.woff) format("woff"),url(//use.fontawesome.com/releases/v5.6.3/webfonts/fa-regular-400.ttf) format("truetype"),url(//use.fontawesome.com/releases/v5.6.3/webfonts/fa-regular-400.svg#fontawesome) format("svg")

    font-family "Font Awesome 5 Free"
    font-style normal
    font-weight 900
    src url(//use.fontawesome.com/releases/v5.6.3/webfonts/fa-solid-900.eot)
    src url(//use.fontawesome.com/releases/v5.6.3/webfonts/fa-solid-900.eot?#iefix) format("embedded-opentype"),url(//use.fontawesome.com/releases/v5.6.3/webfonts/fa-solid-900.woff2) format("woff2"),url(//use.fontawesome.com/releases/v5.6.3/webfonts/fa-solid-900.woff) format("woff"),url(//use.fontawesome.com/releases/v5.6.3/webfonts/fa-solid-900.ttf) format("truetype"),url(//use.fontawesome.com/releases/v5.6.3/webfonts/fa-solid-900.svg#fontawesome) format("svg")

$api-glyph = "\f12e"
$docs-glyph = "\f518"
$code-glyph = "\f121"

glyph-font(ch, name)
  display inline-block;
  font-style normal;
  font-variant normal;
  text-rendering auto;
  -webkit-font-smoothing antialiased;
  font-family name
  font-weight normal
  content lookup("$" + ch + "-glyph")

icon(ch, placement = before)
  &::{placement}
    glyph-font ch "Font Awesome 5 Free"

logo(ch, placement = before)
  &::{placement}
    glyph-font ch "Font Awesome 5 Brands"

caption(text, placement = after)
  &::{placement}
    display block
    padding-top 1rem
    content text
