@require "mixins"
@require "typography"
@require "theme"
@require "layout"
@require "table"
@require "glyphs"

body
  color -color-dark
  background-color white

  & > header
    background-color white
    border-bottom 1px solid silver

    a
      color white

    & > nav
      menu()

      h1
        rhythm 5, .9
        margin 0
        padding 0
        // margin-right 4rem

      & > ul

        & > li
          rhythm 4, .8

          & > h1
            rhythm 4, .8
            margin-bottom 0

          & > a
            text-transform lowercase
            &:hover
              color -color-light

  & > main
    background-color white

  & > footer
    background-color white

    & > nav

      row nowrap
      justify-content center

      background-color -color-main
      border-top 1px solid black

      & > ul
        row nowrap
        list-style-type none
        margin 0
        // margin-top 2rem
        // margin-bottom 2rem
        // margin-left 1rem
        padding 0


        & > li
          flex 1 1 12rem
          text-align center

          margin-top 1rem
          margin-bottom 1rem

          &:not(:last-child)
            border-right 1px solid silver
            margin-right 1rem

          & > a

            column nowrap
            // width needs to be evenly divisible into 48rem
            // otherwise we'll have little wasted margins
            // so either 8 or 12 rem ... 12 for now until
            // we add two more buttons
            width 12rem
            height 8rem
            padding 1rem
            rhythm 3rem .85
            text-align center
            justify-content space-evenly
            // TODO style this so that it's obviously a link
            text-decoration none

            color white

            &:hover
              color -color-light

            &[href="/api"]
              icon api

            &[href="/docs"]
              icon docs

            &[href$="panda-confidential"]
              logo git

a
  color -color-main
  // text-decoration none
  &:hover
    color -color-light
