html
  font-size 6.636px

h1, h2, h3, h4, h5
  margin-top 0

h1
  rhythm 7, .9
h2
  rhythm 6, .8
h3
  rhythm 5, .8
h4
  rhythm 4, .8
h5
  rhythm 3, .8

blockquote
  font-style italic
  margin 0
  padding 0
  padding-left 2rem
  border-left 1rem solid #eee

body
  rhythm 3, .7
  font-family sans-serif
