extends ../-layout

block header
  :markdown
    [Panda Confidential](/) &rtri; **Authenticated Asymmetric Encryption**
    
    - [Obtaining A Shared Key](#obtaining-a-shared-key)
    - [Encrypting](#encrypting)
    - [Serializing](#serializing)
    - [Deserializing](#deserializing)
    - [Decrypting](#decrypting)

block main
  article
    include:markdown article.md
