extends -layout

block header
  .breadcrumbs: +breadcrumbs(["Confidential"], "API")

block main

  article
    
    h1 API Reference

    :markdown
      The Confidential module exports a single function, [`confidential`][]. All other properties, functions, and types are accessible via the API instance it returns.
    
    section.toc

      h2 Functions

      //- conf-function-list
      
      h2 Types

      //- conf-type-list

      h2 Properties
      
      //- conf-property-list
