extends ../-layout

block main
  
  +function()

    include:markdown description.md
      
    h2 Examples

    include:markdown examples/formatting-data.md
    include:markdown examples/string-conversion.md
