extends ../-layout

block append head
  link(rel = "stylesheet" href = "/start/index.css")
  +highlighting()
    
      
block header
  p Panda Confidential &rtrif; Introduction &rtrif; Quick Start
  
block main
    
  article
    section
      include:markdown quick-start.md

block footer
  include ../-bottom-nav
