@require "../-theme"
@require "../-layout"
@require "../-bottom-nav"
@require "../-article"

header
  responsive-padding 3rem
  margin 0 0 3rem 0
  padding 3rem 0
  border-bottom 1px solid silver

  p
    type heading small
