@require "../css/-theme"
@require "../css/-bottom-nav"
@require "../css/-article"
@require "../-layout"

header
  responsive-padding 3rem
  margin 0 0 3rem 0
  padding 3rem 0
  border-bottom 1px solid silver

  p
    type heading small
