@require "../../-styles"

:host
  reset block
  column nowrap

header
  padding 4rem
  colors white darkest-kite-blue
  & > h1
    type heading very-large
    min-width 36rem
    max-width 96rem


.promo
  padding 3rem 4rem
  colors white darker-kite-blue
  & > p
    type heading large
    min-width 36rem
    max-width 96rem
