@require "../../-styles"

:host
  reset block
  flex 1 1 auto
  column nowrap

header
  column nowrap
  colors white darkest-kite-blue

  & > a
    row nowrap
    justify-content center

    & > h1
      flex 1 1 36rem
      max-width 96rem
      type heading very-large

section
  flex 1 1 0
  overflow auto
  column nowrap

  & > .tagline
    row nowrap
    justify-content center
    colors white dark-kite-blue

    & > p
      flex 1 1 36rem
      max-width 96rem
      type heading large

  .content
    margin 3rem 0
    column nowrap
    align-items center
