@require "../../-styles"

:host
  reset block
  flex 1 1 auto
  column nowrap

header
  column nowrap
  colors white darkest-kite-blue

  & > a
    row nowrap
    justify-content center
    padding 3rem

    & > h1
      reset block
      flex 1 1 36rem
      max-width 96rem
      type banner large

section
  flex 1 1 0
  overflow auto
  column nowrap

  & > .tagline
    row nowrap
    justify-content center
    colors white kite-blue
    padding 4rem

    & > p
      reset block
      flex 1 1 36rem
      max-width 96rem
      type banner medium

  .content
    margin 4rem 0
    column nowrap
    align-items center
