include ../../-mixins

style
  include:stylus index.styl

section
  if variables.length > 0

    table
      thead
        tr
          th name
          th type
          th description

      tbody
        each entry in variables
          tr
            td: +wikitext(entry.name, "text/markdown")(data-path = parent)
            td: +wikitext(entry.type, "text/markdown")(data-path = parent)
            td: +wikitext(entry.description, "text/markdown")(data-path = parent)

  else
    slot
