include ../-mixins

//- page metadata: title, description, image, and canonical URL
//- these should all be defaulted by the page rendering

//- the key properties are hints to the diff algorithm
- var key = 0

meta(key = key++ name='viewport' content='width=device-width, initial-scale=1.0')
meta(key = key++ charset='utf-8')
meta(key = key++ property = "og:url" content = url)
meta(key = key++ property ='og:type' content='article')
meta(key = key++ property ='og:title' content= title)
meta(key = key++ property = 'og:description' content = description)
meta(key = key++ property = 'og:image' content= image)
meta(key = key++ name = 'twitter:card' content = 'summary_large_image')
meta(key = key++ name = 'twitter:site' content = url)
meta(key = key++ name = 'twitter:title' content = title)
meta(key = key++ name = 'twitter:text:description' content = description)

//- title and favicon
title(key = key++)= title
link(key = key++ rel='shortcut icon' href='/favicon.ico')

//- fonts and styles
link(key = key++ rel = "stylesheet" href = "//use.typekit.net/szm6utf.css")
link(key = key++ rel = "stylesheet" href = "/fonts/system-ui.css")

//- imported fonts
link(key = key++ rel = "stylesheet" href = "/index.css")

//- script tags are handled differently by diffHTML so we don't need keys

//- load site JavaScript
script(src = "/index.js")
