article
  
  h1 API Reference

  :markdown
    The Confidential module exports a single function, [`confidential`][]. All other properties, functions, and types are accessible via the API instance it returns.
  
  section.toc

    h2 Functions

    site-toc(data-glob = "/api/functions/*")
    
    h2 Types

    site-toc(data-glob = "/api/types/*")

    h2 Properties
    
    site-variables(data-path = "/api/properties")
