extends ../-layout

block main
  
  +function()

    include:markdown description.md
      
    h2 Examples

    include:markdown examples/single-signature.md
    include:markdown examples/multiple-signatures.md
