.toc
  :markdown
    - [Obtaining A Key](#obtaining-a-key)
    - [Encrypting](#encrypting)
    - [Serializing](#serializing)
    - [Deserializing](#deserializing)
    - [Decrypting](#decrypting)

article
  include:markdown index.md
