extends ../-layout

block main
  
  +summary({name, key, summary, signatures, variables})

    include:markdown description.md
      
    h2 Examples

    include:markdown examples/hashing-a-string.md
