title= name
meta(charset='utf-8')
meta(key = "0" name='viewport' content='width=device-width, initial-scale=1.0')
link(key = "1" rel='shortcut icon' href='/favicon.ico')
script(key = "2" src = "/index.js")
link(key = "3" rel = "stylesheet" href = "/fonts.css")
link(key = "4" rel = "stylesheet" href = "//use.typekit.net/szm6utf.css")
link(key = "5" rel = "stylesheet" href = "/index.css")
meta(property = "og:url", content = window.location.href)
