meta(key = "0" name='viewport' content='width=device-width, initial-scale=1.0')
meta(key = "1" charset='utf-8')
title(key = "2")= name ? name : "Confidential"
link(key = "3" rel='shortcut icon' href='/favicon.ico')
script(src = "/index.js")
link(key = "4" rel = "stylesheet" href = "/fonts.css")
link(key = "5" rel = "stylesheet" href = "//use.typekit.net/szm6utf.css")
link(key = "6" rel = "stylesheet" href = "/index.css")
if window
  meta(key = "7" property = "og:url" content = window.location.href)
