include ../-mixins

doctype html
html
  head
    
    block head
    
      title Confidential
      meta(charset='utf-8')
      meta(name='viewport' content='width=device-width, initial-scale=1.0')
      link(rel='shortcut icon' href='/favicon.ico')
      script(src = "/index.js")
      link(rel = "stylesheet" href = "/fonts.css")
      link(rel = "stylesheet" href = "//use.typekit.net/szm6utf.css")
      link(rel = "stylesheet" href = "/index.css")

  body

    header
      block header
      
    main
      block main
    
    footer
      block footer
        
