extends ../-layout

block header
  - var type = $site.api.types.declaration

  :markdown
    [Panda Confidential][] &rtri; [API][] &rtri; [Types][] &rtri; [Declaration][`Declaration`]
  
  +interface-list(type, name)
