extends ../../-layout

block header
  .breadcrumbs
    +breadcrumbs(["Confidential", "API", "Types", parent.name])
  .toc
    +toc($.interface(parent), name)

block main
  +method()
    include:markdown description.md
