extends ../../-layout

include ../../-mixins.pug

block header
  .breadcrumbs
    +breadcrumbs(["Confidential", "API"], "Properties")
    
  .toc
    +toc($.properties(), key)

block main
  article
    h1 nacl
    
    != $.markdown(description)
