extends ../-layout

block append head
  link(rel = "stylesheet" href = "/api/index.css")
  +highlighting()

    
block header
  :markdown
    Panda Confidential &rtrif; [API][] &rtrif; [Functions][]
  
block footer
  include ../-bottom-nav
