@require "../css/-theme"
@require "../css/-bottom-nav"
@require "../css/-article"
@require "../css/-table"
@require "../css/-inline-list"
@require "../-layout"

// TODO where does this belong?
a[href='#broken']
  color red

header
  responsive-padding 3rem
  type heading smallest

  margin 0 0 3rem 0
  padding 3rem 0
  border-bottom 1px solid silver

  .toc
    ul
      inline-list bar

  .breadcrumbs
    margin-bottom 2rem
    ul
      inline-list breadcrumb

article

  h1
    type heading
  h2
    type heading small
  h3
    type heading smaller

  .tag
    display inline-block
    vertical-align top
    borders round
    margin-left 2rem
    padding 1rem
    color black + 25%
    background-color white - 15%
    type label small

  .extends
    margin-top -1rem
    margin-bottom 2rem
    type label
    font-style italic

    &::before
      content "Extends"
      margin-right 1rem

    a, code
      display inline-block

  .toc > ul
    type heading smaller
    inline-list bar


  blockquote.signature
    type label
    span.name, span.scope
      font-weight bold
    span.scope::after
      content "."

    span.name
      margin-right 1rem
    span.arguments::after
      content "\2192"
      margin-left 1rem
      margin-right 1rem

  blockquote
    // type lift
    background white - 5%
    border-left 1rem solid $panda-blue
    padding 2rem
