extends -layout

block header
  .breadcrumbs: +breadcrumbs(["Panda Confidential", "API"])

block main

  article
    
    section.toc

      h1 API Reference

      h2 Properties
      
      .toc
        +toc($.properties())

      h2 Functions

      .toc
        +toc($.functions())
      
      h2 Types

      .toc
        +toc($.types())
