extends -layout

block header
  :markdown
    [Panda Confidential](/) &rtrif; **API**

block main

  article
    
    section.toc

      h1 API Reference

      h2 Properties
      
      +property-list()

      h2 Functions

      +function-list()
      
      h2 Types

      +type-list()
