extends -layout

block header
  :markdown
    [Panda Confidential][Documentation] &rtrif; **API**

block main
  article
    section.toc
      h1 Functions
      ul
        each description, key in $site.api.functions
          li: a(href=`/api/functions/${key}`)= description.name

    section.toc
      h1 Types
      ul
        each description, key in $site.api.types
          li: a(href=`/api/types/${key}`)= description.name
