extends -layout

block header
  .breadcrumbs: +breadcrumbs(["Confidential"], "API")

block main

  article
    
    section.toc

      h1 API Reference

      h2 Properties
      
      +toc($.properties())

      h2 Functions

      +toc($.functions())
      
      h2 Types

      +toc($.types())
