include ../../-mixins
style
  include:stylus index.styl

section
  if results.length > 0

    table
      thead
        tr
          th name
          th type
          th description

      tbody
        each property in results
          tr
            if property.fragment
              td: p(id=property.fragment)= property.name
            else
              td: p= property.name
            td: +wikitext(property.data.type, "text/markdown")
            td: +wikitext(property.data.description, "text/markdown")

  else
    slot
