extends ../-layout

block header
  :markdown
    [Panda Confidential](/) &rtri; **Symmetric Encryption**
    
    - [Obtaining A Key](#obtaining-a-key)
    - [Encryption](#encrypting)
    - [Serialization](#serializing)
    - [Deserialization](#deserializing)
    - [Decryption](#decrypting)

block main
  article
    include:markdown article.md
