include ../../-mixins
style
  include:stylus index.styl

section
  each signature in signatures
    blockquote.signature
      p
        if scoped
          span.scope= scoped
        span.name= name

        span.arguments: +wikitext(signature.arguments)(data-path = parent)
        span.result: +wikitext(signature.result)(data-path = parent)
