include ../../-mixins
style
  include:stylus index.styl

section
  each signature in signatures
    blockquote.signature
      p
        if scoped
          span.scope= scoped
        span.name= name

        span.arguments
          +wikitext(signature.arguments, "text/markdown")(data-path = parent)
        span.result
          +wikitext(signature.result, "text/markdown")(data-path = parent)
