@require "../../-styles"

:host
  display block

  &(.no-title) h1
    display none

section
  type copy
  min-width 36rem
  max-width 96rem

  color darkest-kite-gray
  background-color white

  article h1 h2 h3 h4 h5 p ul li blockquote code
  site-wikitext
    display inline-block

  h1
    type heading very-large
    color black
  h2
    type heading large
    color black

  dashkite link

  figure
    float right
    borders round
    width 36rem
    padding 1rem
    & > img
      width 100%
      object-fit contain
    & > figcaption
      margin-top 1rem
      borders top
      padding-top 1rem
      type body small

  blockquote.signature

    type caption
    span.name, span.scope
      font-weight bold
    span.scope::after
      content "."

    span.name
      margin-right 1rem
    span.arguments::after
      content "\2192"
      margin-left 1rem
      margin-right 1rem

    & > p
      margin 0

  blockquote
    background white - 5%
    border-left 1rem solid kite-blue
    padding 2rem
