include ../../-mixins
style
  include:stylus index.styl

- console.log({scope, category, signatures})

section
  each signature in signatures
    blockquote.signature
      p
        if parent
          if scope == "class"
            //- TODO is there a simpler way to do this?
            span.scope: +wikitext("{{name}}")(data-path = parent)
          else
            span.scope: +wikitext("{{name|dashed}}")(data-path = parent)

        span.name= name

        span.arguments: +wikitext(signature.arguments)(data-path = parent)
        span.result: +wikitext(signature.result)(data-path = parent)
