extends ../-layout

include -mixins.pug

block header
  p
    a(href="/") Panda Confidential
    |
    | &rtri;
    |
    a(href="/api") API
    |
    | &rtri;
    |
    strong Functions
  
  +function-list(name)
