extends ../-layout

include -mixins.pug

block append header
  section.toc
    ul
      each description, key in $site.api.functions
        if key == name
          li: strong= description.name
        else
          li: a(href=`/api/functions/${key}`)= description.name
