mixin signatures(name, list)

  each signature in list
    blockquote.signature
      p
        strong= name
        |
        |
        = signature.arguments
        |
        | &rarr;
        |
        = signature.result
  

mixin variables(list)

  table
    thead
      tr
        th name
        th type
        th description
    
    tbody    
      each variable, name in list
        tr
          td= name
          td!= $helpers.markdown(variable.type)
          td!= $helpers.markdown(variable.description)

mixin summary(f)

  article
    
    h1= f.name

    != $helpers.markdown(f.summary)
    
    +signatures(f.name, f.signatures)
    +variables(f.variables)
  
    block
