extends ../-layout

include -mixins.pug

block section
          
  +summary($site.api.functions.encrypt)
  
    include:markdown encrypt/description.md
      
    h4 Examples

    include:markdown encrypt/examples/symmetric.md
    include:markdown encrypt/examples/asymmetric.md

  +summary($site.api.functions.decrypt)
  
    include:markdown decrypt/description.md
      
    h4 Examples

    include:markdown decrypt/examples/symmetric.md
    include:markdown decrypt/examples/asymmetric.md
