responsive-padding(-padding)
  display grid
  grid-template-columns minmax(3rem, 1fr) minmax(auto,96rem) minmax(3rem, 1fr)

  & > *
    grid-column 2


article
  responsive-padding 3rem
  typography standard
  color black + 15%

  a, a:visited
    colors panda-blue inherit

    &:hover
      colors panda-light-blue inherit

  h1, h2, h3, h4, h5, p, blockquote
    margin-bottom 4rem

  h1, h2, h3, h4, h5, p, li
    & *
      display inline

  ul, ol, table
    margin-bottom 4rem

    & > li:not(:last-child)
      margin-bottom 2rem

  blockquote
    :last-child
      margin-bottom 0

  pre
    //- prism overrides line-height
    margin-bottom @line-height !important
    // type code


  h1, h2, h3, h4, h5, h6
    a
      &::before
        content "¶ "
      &[href="#broken"]
        color red



//       blockquote
//         h1, h2, h3, h4, h5, h6
//           font-family "Titillium Web"
//           a::before
//             content: ""
//
//         &.signature
//           font-family "Titillium Web", sans-serif
