footer

  & > nav

    row nowrap
    justify-content center

    colors white panda-blue

    & > ul
      row nowrap
      list-style-type none

      & > li
        flex 1 1 12rem
        text-align center

        &:not(:last-child)
          border-right 1px solid silver
          margin-right 1rem

        & > a
          column nowrap
          // width needs to be evenly divisible into 48rem
          // otherwise we'll have little wasted margins
          // so with three menu items, we can go to 16rem
          width 14rem
          height 10rem
          padding 1rem
          type label small
          text-align center
          justify-content space-evenly
          // TODO style this so that it's obviously a link
          text-decoration none


          &:hover
            colors panda-light-blue @background-color
            svg
              fill @color

          svg
            fill @color
            overflow visible
            height 1em
