inline-list(preset)

  display inline-block

  & > li
    display inline-block
    // override margins just in case they've been styled
    // for bulleted lists
    margin-left 0
    margin-bottom 1rem !important

    font-weight bold
    & > a
      font-weight normal

    *
      display inline

    // &:not(:first-child)
    //   padding-left 1rem

    if preset is bar

      &:not(:last-child)
        &::after
          margin 0 1rem
          content "\2237"

    else if preset is breadcrumb

      &:not(:last-child)
        &::after
          margin 0 1rem
          content "\25b8"

    else if preset is whitespace

      &:not(:last-child)
        padding-right 1rem
