inline-list(preset)
  if preset is bar
    display inline-block

    li
      display inline-block
      // override margins just in case they've been styled
      // for bulleted lists
      margin-left 0
      margin-bottom 1rem !important

      // &:not(:first-child)
      //   padding-left 1rem

      &:not(:last-child)
        padding-right 1rem
        border-right 1px solid silver
        margin-right 1rem
