@require "panda-style"
@require "mixins"
@require "typography"
@require "theme"
@require "layout"
@require "table"


body
  color -color-dark
  background-color white

  & > header
    background-color white
    border-bottom 1px solid silver

    a
      color white

    & > nav
      menu()

      h1
        rhythm 5, .9
        margin 0
        padding 0
        // margin-right 4rem

      & > ul

        & > li
          rhythm 4, .8

          & > h1
            rhythm 4, .8
            margin-bottom 0

          & > a
            text-transform lowercase
            &:hover
              color -color-light

  & > main
    background-color white



a
  color -color-main
  // text-decoration none
  &:hover
    color -color-light
