body
  height 100vh
  display grid
  grid-template-columns minmax(3rem, 1fr) fit-content(96rem) minmax(3rem, 1fr)
  grid-template-rows auto 1fr auto
  margin 0
  padding 0

  & > header
    grid-area 1/2

  & > main
    grid-area 2/2

  & > footer
    grid-area 3/span 3

  & > main
    overflow-y scroll
