-color-dark = rgba(0,0,0,0.8)
-color-main = #0e83cd
-color-light = #5ec1ff

body
  font-family "Titillium Web", sans-serif
  color -color-dark

pre, code
  font-family Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace
  font-style normal
