article

  h1 Guides

  h2 Scenarios

  ul
    li [Quick Start][]
    li [Symmetric Encryption][]
    li [Authenticated Asymmetric Encryption][]
    li [Cryptographic Signatures][]

  h2 Background

  ul
    li [Why Confidential?][]
    li [Why NaCl?][]
