include ../../-mixins

style
  include:stylus index.styl

article
  h1!= name

  +wikitext(summary)

  site-signatures(data-path = path)

  site-variables(data-path = path)

  +wikitext(description)

  site-block(data-key = `${path}/description`)
    h2 Description

  site-blocks(data-glob = `${path}/example/*`)
    h2 Example

  site-blocks(data-glob = `${path}/examples/*`)
    h2 Examples
