extends ../-layout

block main
  
  +summary({name, key, description, signatures, variables})

    include:markdown description.md
      
    h2 Examples

    include:markdown examples/symmetric.md
    include:markdown examples/asymmetric.md
