article
  header
    h1 Authenticated Asymmetric Encryption

    // TODO get permalinks to work within Web Components
    //- .toc
    //-   :markdown
    //-    - [Obtaining A Key](#obtaining-a-shared-key)
    //-    - [Encrypting](#encrypting)
    //-    - [Serializing](#serializing)
    //-    - [Deserializing](#deserializing)
    //-    - [Decrypting](#decrypting)

  include:markdown index.md
