article
  header
    .toc
      :markdown
        - [Obtaining A Key](#obtaining-a-shared-key)
        - [Encrypting](#encrypting)
        - [Serializing](#serializing)
        - [Deserializing](#deserializing)
        - [Decrypting](#decrypting)

  include:markdown index.md
