extends ../-layout

block header
  .breadcrumbs: +breadcrumbs(["Confidential", "Guides"], "Signatures")

  .toc
    :markdown
      - [Obtaining A Signing Key Pair](#obtaining-a-signing-key-pair)
      - [Signing](#signing)
      - [Serializing](#serializing)
      - [Deserializing](#deserializing)
      - [Verifying Signatures](#verifying-signatures)
      - [Adding Signatures](#adding-signatures)

block main
  article
    include:markdown article.md
