include mixins

doctype html
html
  head
    
    block head
    
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
        
      meta(property='og:url', content= "https://confidential.pandastrike.com")
      meta(property='og:type', content='article')
      meta(property='og:title', content= "Panda Confidential")
      meta(
        property='og:description', 
        content= "Cryptography is hard. Panda Confidential makes it easier.")
      meta(property='og:image', content= "https://confidential.pandastrike.com/shared/images/logo.png")
      meta(name='twitter:card', content='summary_large_image')
      meta(name='twitter:site', content='@deliciousbamboo')
      meta(name='twitter:title', content= "Panda Confidential")
      meta(
        name='twitter:text:description', 
        content= "Cryptography is hard. Panda Confidential makes it easier.")


      link(rel='shortcut icon', href='/shared/images/favicon.ico')
      
      +font("google", "Titillium+Web", "400", "400i", "700", "700i")

      +css("jsdeliver", "normalize.css", "8.0.1", "normalize.min.css")

      +js("jsdelivr", "prismjs", "1.15.0", "prism.min.js")
      +js("jsdelivr", "prismjs", "1.15.0", "components/prism-core.min.js")
      +js("jsdelivr", "prismjs", "1.15.0", "components/prism-clike.min.js")
      +js("jsdelivr", "prismjs", "1.15.0", "components/prism-javascript.min.js")
      +js("jsdelivr", "prismjs", "1.15.0", "components/prism-coffeescript.min.js")
      +css("jsdelivr", "prismjs", "1.15.0", "themes/prism.min.css")
            
      title Panda Confidential

  body
    header
      block header
      
    main
      block main
    
    footer
      nav
        ul
          li
            a(href="/api") API
          li
            a(href="/docs") Docs
          li
            a(href="//github.com/pandastrike/panda-confidential") Code
