@import url("https://fonts.googleapis.com/css?family=Patua+One:400,400i,700,700i")
@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i")

@require "shared/-css"
@require "panda-style"

$copy-font = "Lora", sans-serif
$copy-font-medium-lh = 4rem
$copy-font-medium-ratio = 2/3

$heading-font = "Titillium Web", serif
$heading-font-medium-lh = 4rem
$heading-font-medium-ratio = 0.90
$heading-font-medium-weight = 700
$heading-font-small-lh = 3rem
$heading-font-small-ratio = 0.825
$heading-font-small-weight = 700

header
  padding 3rem
  p
    margin 0
    padding 0
    type heading small

article
  padding 3rem
  typography copy
