extends -master

block append head
  link(rel = "stylesheet" href = "/start.css")
    
      
block header
  p Panda Confidential &rtrif; Introduction &rtrif; Quick Start
  
block main
    
  article
    section
      include:markdown quick-start.md
