@require "../../-styles"
@import "https://cdn.jsdelivr.net/npm/prismjs@1.15.0/themes/prism.min.css"

:host
  reset block

  :last-child
    margin-bottom 0

.content
  article h1 h2 h3 h4 h5 p ul li blockquote pre code
  dashkite link table header toc code figure

  site-toc, site-breadcrumbs
    type body
    margin-bottom 4rem
