@require "../../-styles"

:host
  reset block

  :last-child
    margin-bottom 0

.content
  article h1 h2 h3 h4 h5 p ul li blockquote code

  h1
    type heading large
    color black
  h2
    type heading medium
    color black

  dashkite link table header toc

  site-toc, site-breadcrumbs
    type body
    margin-bottom 4rem

  figure
    float right
    borders round
    width 36rem
    padding 1rem
    & > img
      width 100%
      object-fit contain
    & > figcaption
      margin-top 1rem
      borders top
      padding-top 1rem
      type body small
