extends ../-layout

block append head
  link(rel = "stylesheet" href = "/docs/index.css")
  +highlighting()
    
      
block header
  :markdown
    [Panda Confidential](/) &rtrif; **Quick Start**
  
block main
  article
    include:markdown quick-start.md
