nav
  ul
    li
      a(href="/api")
        +icon("puzzle-piece", "solid")
        span API
    li
      a(href="/guides") 
        +icon("book-open", "solid")
        span Guides
    li
      a(href="//github.com/pandastrike/panda-confidential")
        +icon("code", "solid")
        span Code
