extends /shared/-html/default

block append head
  +font("google", "Patua One")
  link(rel="stylesheet" href="./index.css")

block header
  h1 Panda Confidential
  
  section
    p Cryptography is hard. Confidential makes it easier.
  
block main
    
  article
    section
      include:markdown index.md
        
