extends /shared/-html/default

block append head
  +font("google", "Patua One")
  link(rel="stylesheet" href="./index.css")

block header
  h1 Panda Confidential
  
block main
    
  section
    p Cryptography is hard. Confidential makes it <del>easy</del> easier.
  
  article
    section
      include:markdown overview.md
