extends -layout

block append head
  title Panda Confidential
  link(rel="stylesheet" href="./index.css")
  +highlighting()

block header
  h1 Panda Confidential
  
block main
        
  .promo
    p Cryptography is hard. Confidential makes it <del>easy</del> easier.

  article
    include:markdown index.md

block footer
  include -bottom-nav
