@require "shared/-css"

body

  & > header
    background -color-main
    border none
    color white

    h1
      padding 6rem
      font-family "Patua One", cursive

    // TODO needs to be in main so it scrolls
    section
      color white
      background -color-light

      p
        margin 0
        padding 10rem 6rem
        font-family "Titillium Web"
        rhythm 8rem, .6


  & >  main

    article
      max-width 65ch
      padding 4rem
      font-family "Titillium Web"
      rhythm 6rem, .6

      a[href="#broken"]
        background-color red
        color black

      h1, & > section > h1
        font-family "Titillium Web"
        margin-top 8rem
        padding-bottom 4rem
        border-bottom 1px solid silver
        rhythm 6rem, .9

      h1, h2, h3, h4, h5, h6

        font-family "Titillium Web"

        a
          color -color-dark
          text-decoration none

          &::before
            content "¶ "

      blockquote
        h1, h2, h3, h4, h5, h6
          font-family "Titillium Web"
          a::before
            content: ""

        &.signature
          font-family "Titillium Web", sans-serif

      section

        pre
          //- prism trunmps line-height
          font-size 2rem
          margin-bottom 4rem !important
