extends -layouts/index

block append head
  +highlighting()

block footer
  nav
    a(href="/api")
      +icon("puzzle-piece", "solid")
      span API

    a(href="/guides") 
      +icon("book-open", "solid")
      span Guides

    a(href="//github.com/pandastrike/panda-confidential")
      +icon("code", "solid")
      span Code
