extends /shared/-html/default

block append head
  link(rel = "stylesheet" href = "/start.css")
    
      
block header
  h1 Panda Confidential
  
block main
    
  article
    section
      include:markdown quick-start.md
